<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | FedRAMP Explorer</title>
    {{ $style := resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body class="bg-gray-100">
    {{ partial "header.html" . }}
    <div id="container" class="flex relative">
        <div id="sidebar" class="fixed md:relative md:w-1/4 w-full bg-white md:h-screen h-auto p-4 overflow-y-auto z-40 transform -translate-y-full md:translate-y-0 md:translate-x-0 transition-transform duration-300 ease-in-out top-0 left-0">
            {{ partial "sidebar.html" . }}
        </div>
        <div id="sidebar-overlay" class="fixed inset-0 bg-black bg-opacity-50 z-30 hidden md:hidden"></div>
        <div id="main-content" class="w-full md:w-3/4 p-8 overflow-y-auto">
            {{ block "main" . }}{{ end }}
        </div>
    </div>
    {{ $fuse := resources.Get "js/fuse.min.js" }}
    {{ $search := resources.Get "js/search.js" }}
    {{ $js := slice $fuse $search | resources.Concat "js/bundle.js" | resources.Minify }}
    <script src="{{ $js.Permalink }}"></script>
    {{ partial "footer.html" . }}
</body>
</html>
